body{
    margin: 0%;
    background-color:lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    display: flex;
    background-color:rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 100%;
    position:relative;

    #logo{
        background-image: url('imagens/Logo white.png');
        background-size: cover;
        background-position: center;
        height: 80px;
        width: 310px;
        position: fixed;
    }
    
    #info{
        border: red 20px solid;
        margin-left: 95%;
    }
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 745px;
    height: 852px;

    h1{
        font-size: 40px;
    }

    #imagem{
        width: 450px;
        height: 125px;
    }

    p{
        font-size: 28px;
        text-align: center;
    }

    >div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;

        p{
            background-color:black;
            color: white;
        }

        h1{
            font-size: 34px;
        }

        .dropdown:hover .dropdown-inside{
            display:flex;
        }

        >div{
            display: flex;
            height: 100%;

            >div{
                display: inline-block;
                height: 30px;
                width: min-content;
            }
        }
    }
}

.dropdown-inside{
    display: none;
    position: absolute;
    flex-direction: column;
    height:30px;

    > p{
        display: flex;
    }
}