body{
    margin: 0%;
    background-color:rgb(78, 78, 78);
}

nav{
    display: flex;
    background-color:black;
    justify-content: center;
    align-items: center;
    height: 90px;

    >a{
        background-image: url('imagens/Logo\ white.png');
        background-size: cover;
        background-position: center;
        height: 80px;
        width: 310px;
    }
}

h1{
    color: white;
    margin-left: 30px;
    font-size: 30px;
}

div{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;

    >a{
        display: flex;
        border: black solid 5px;
        border-radius: 30px;
        width: 185px;
        height: 90px;
        justify-content:center;
        align-items:center;
        text-decoration: none;
        font-size: 35px;
        color: white;
        transition: 0.5s;
    }
}

div>a:hover{
    scale: 1.1; 
}



#Termo{
    background-size: cover;
    background-position: center;
    background-image: url('imagens/termo.jpg');
}
#Contexto{
    background-size: cover;
    background-position:top;
    background-size:500px;
    background-image: url('imagens/contexto.webp');
}
#Artigo{
    background-size: cover;
    background-position: top;
    background-size: 550px;
    background-image:url('imagens/Artigo.png')
}
#Desafio-wordle{
    background-size: cover;
    background-position: center;
    background-image: url('imagens/Desafio\ wordle.jpg');
}
#Conexo{
    background-size: cover;
    background-position: center;
    background-size: 250px;
    background-position: top;
    background-image: url('imagens/Conexo.png');
}
#Spelling-bee{
    background-size: cover;
    background-position: center;
    background-image: url('imagens/Spelling-bee.png');
}
#GeoGuessr{
    background-size: cover;
    background-position: center;
    background-position:bottom;
    background-image: url('imagens/GeoGuessr.webp');
}
#Globle-game{
    background-size: cover;
    background-position: center;
    background-image: url('imagens/Globle.webp');
}
#Flagle{
    background-size: cover;
    background-position: center;
    background-size: 300px;
    background-image: url('imagens/Flagle.jpg');
}
#Travle{
    background-size: cover;
    background-position: center;
    background-size: 225px;
    background-position:top;
    background-image: url('imagens/Travle.png')
}
#Contryle{
    background-size: cover;
    background-position: center;
    background-image: url('imagens/Countryle.png')
}
#Geogrid{
    background-size: cover;
    background-position: center;
    background-image: url('imagens/Geogrid.png')
}
#Monkepo{
    background-size: cover;
    background-position: center;
    background-image: url('imagens/Monkepo.png')
}
#Framed{
    background-size: cover;
    background-position: center;
    background-position: top;
    background-image: url('imagens/Framed.png')
}
#Dungleon{
    background-size: cover;
    background-position: center;
    background-position: top;
    background-image: url('imagens/Dungleon.png')
}
#Gamedle{
    background-size: cover;
    background-position: center;
    background-position: top;
    background-image: url('imagens/Gamedle.png')
}
#Musicle{
    background-size: cover;
    background-position: center;
    background-image: url('imagens/Musicle.png')
}
#Nerdle{
    background-size: cover;
    background-position: center;
    background-position: bottom;
    background-image: url('imagens/Nerdle.png')
}

@media(max-width: 1500px){
    div{
        border: red solid 4px;
    }
}