body{
    margin: 0%;
    background-color:rgb(78, 78, 78);
}

nav{
    display: flex;
    background-color:black;
    justify-content: center;
    align-items: center;
    height: 90px;

    >a{
        background-image: url('imagens/Logo\ white.png');
        background-size: cover;
        background-position: center;
        height: 80px;
        width: 310px;
    }
}

h1{
    color: white;
    margin-left: 37px;
    font-size: 37px;
}

div{
    display: flex;
    gap: 37px;
    flex-wrap: wrap;
    justify-content: center;

    >a{
        display: flex;
        border: black solid 6px;
        border-radius: 37px;
        width: 231px;
        height: 112px;
        justify-content:center;
        align-items:center;
        text-decoration: none;
        font-size: 43px;
        color: white;
        transition: 0.5s;
    }
}

div>a:hover{
    scale: 1.1; 
}