body{
    margin: 0%;
    background-color:rgb(78, 78, 78);
}

nav{
    display: flex;
    background-color:black;
    justify-content: center;
    align-items: center;
    height: 90px;

    >a{
        background-image: url('imagens/Icones_site/Logo white.png');
        background-size: cover;
        background-position: center;
        height: 80px;
        width: 310px;
        position: fixed;
    }

    #info{
        margin-left: 95%;
        background-size: cover;
        background-image: url('imagens/Icones_site/Info Black.png');
        height: 50px;
        width: 50px;
    }
}

h1{
    color: white;
    margin-left: 37px;
    font-size: 37px;
}

div{
    display: flex;
    gap: 37px;
    flex-wrap: wrap;
    justify-content: center;

    >a{
        display: flex;
        border: black solid 6px;
        border-radius: 37px;
        width: 231px;
        height: 112px;
        justify-content:center;
        align-items:center;
        text-decoration: none;
        font-size: 43px;
        color: white;
        transition: 0.5s;
    }
}

div>a:hover{
    scale: 1.1; 
}

#Mope{
    background-size: cover;
    background-position: center;
    background-image: url('imagens/Jogos_online/Mope.io.png');
}
#Deeeep{
    background-size: cover;
    background-position: center;
    background-image:url(imagens/Jogos_online/Deeeep.io.png)
}
#Diep{
    background-size: cover;
    background-position: center;
    background-image:url(imagens/Jogos_online/Diep.io.webp)
}
#Gats{
    background-size: cover;
    background-position: center;
    background-image:url(imagens/Jogos_online/Gats.io.jpg)
}
#Zombs{
    background-size: cover;
    background-position: center;
    background-image:url(imagens/Jogos_online/Zombs.io.jpg)
}
#Surviv{
    background-size: cover;
    background-position: center;
    background-image:url(imagens/Jogos_online/Surviv.io.png)
}
#Agario{
    background-size: cover;
    background-position: center;
    background-image:url(imagens/Jogos_online/Agario.png)
}
#Krunker{
    background-size: cover;
    background-position: center;
    background-image:url(imagens/Jogos_online/Krunker.webp)
}
#Slither{
    background-size: cover;
    background-position: center;
    background-image:url(imagens/Jogos_online/Slither.png)
}
#Paper2{
    background-size: cover;
    background-position: top;
    background-image:url(imagens/Jogos_online/Paper2.jpg)
}
#Splix{
    background-size: cover;
    background-position: center;
    background-image:url(imagens/Jogos_online/Splix.png)
}
#Hole{
    background-size: cover;
    background-position: center;
    background-image:url(imagens/Jogos_online/Hole.io.jpg)
}
#Akinator{
    background-size: cover;
    background-position: center;
    background-image:url(imagens/Jogos_online/Akinator.png)
}
#Hordes{
    background-size: cover;
    background-position: center;
    background-image:url(imagens/Jogos_online/Hordes.jpg)
}
#Pokemon-showdown{
    background-size: cover;
    background-position: center;
    background-image:url(imagens/Jogos_online/Pokemon-showdown.jpg)
}
#Pokerogue{
    background-size: cover;
    background-position: center;
    background-image:url(imagens/Jogos_online/Pokerogue.webp)
}
#Gartic{
    background-size: cover;
    background-position: center;
    background-image:url(imagens/Jogos_online/Gartic.png)
}
#Happy-wheels{
    background-size: cover;
    background-position: center;
    background-image:url(imagens/Jogos_online/Happy\ wheels.jpg)
}