body{
    margin: 0%;
    background-color:rgb(78, 78, 78);
}

nav{
    display: flex;
    background-color:black;
    justify-content: center;
    align-items: center;
    height: 90px;

    >a{
        background-image: url('imagens/Icones_site/Logo white.png');
        background-size: cover;
        background-position: center;
        height: 80px;
        width: 310px;
        position: fixed;
    }
    
    #info{
        margin-left: 95%;
        background-size: cover;
        background-image: url('imagens/Icones_site/Info Black.png');
        height: 50px;
        width: 50px;
    }
}

h1{
    color: white;
    margin-left: 37px;
    font-size: 37px;
}

div{
    display: flex;
    gap: 37px;
    flex-wrap: wrap;
    justify-content: center;

    >a{
        display: flex;
        border: black solid 6px;
        border-radius: 37px;
        width: 231px;
        height: 112px;
        justify-content:center;
        align-items:center;
        text-decoration: none;
        font-size: 43px;
        color: white;
        transition: 0.5s;
    }
}

div>a:hover{
    scale: 1.1; 
}



#Termo{
    background-size: cover;
    background-position: center;
    background-image: url('imagens/Jogos_diários/termo.jpg');
}
#Contexto{
    background-size: cover;
    background-position:top;
    background-size:500px;
    background-image: url('imagens/Jogos_diários/contexto.webp');
}
#Artigo{
    background-size: cover;
    background-position: top;
    background-size: 550px;
    background-image:url('imagens/Jogos_diários/Artigo.png')
}
#Desafio-wordle{
    background-size: cover;
    background-position: center;
    background-image: url('imagens/Jogos_diários/Desafio wordle.jpg');
}
#Conexo{
    background-size: cover;
    background-position: center;
    background-size: 250px;
    background-position: top;
    background-image: url('imagens/Jogos_diários/Conexo.png');
}
#Spelling-bee{
    background-size: cover;
    background-position: center;
    background-image: url('imagens/Jogos_diários/Spelling-bee.png');
}
#GeoGuessr{
    background-size: cover;
    background-position: center;
    background-position:bottom;
    background-image: url('imagens/Jogos_diários/GeoGuessr.webp');
}
#Globle-game{
    background-size: cover;
    background-position: center;
    background-image: url('imagens/Jogos_diários/Globle.webp');
}
#Flagle{
    background-size: cover;
    background-position: center;
    background-size: 300px;
    background-image: url('imagens/Jogos_diários/Flagle.jpg');
}
#Travle{
    background-size: cover;
    background-position: center;
    background-size: 225px;
    background-position:top;
    background-image: url('imagens/Jogos_diários/Travle.png')
}
#Contryle{
    background-size: cover;
    background-position: center;
    background-image: url('imagens/Jogos_diários/Countryle.png')
}
#Geogrid{
    background-size: cover;
    background-position: center;
    background-image: url('imagens/Jogos_diários/Geogrid.png')
}
#Monkepo{
    background-size: cover;
    background-position: center;
    background-image: url('imagens/Jogos_diários/Monkepo.png')
}
#Framed{
    background-size: cover;
    background-position: center;
    background-position: top;
    background-image: url('imagens/Jogos_diários/Framed.png')
}
#Dungleon{
    background-size: cover;
    background-position: center;
    background-position: top;
    background-image: url('imagens/Jogos_diários/Dungleon.png')
}
#Gamedle{
    background-size: cover;
    background-position: center;
    background-position: top;
    background-image: url('imagens/Jogos_diários/Gamedle.png')
}
#Musicle{
    background-size: cover;
    background-position: center;
    background-image: url('imagens/Jogos_diários/Musicle.png')
}
#Nerdle{
    background-size: cover;
    background-position: center;
    background-position: bottom;
    background-image: url('imagens/Jogos_diários/Nerdle.png')
}

@media(max-width: 1500px){
    div{
        border: red solid 4px;
    }
}