body{
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: black;
    font-family: Comic Sans MS;
    flex-direction: column;
    gap: 20px;
}

.frase{
    color: white;
    font-size: 50px;

}

.pai{
    border: 5px solid green;
    border-style: dashed;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pai > div{
    border: 2px solid white;
    background-color: white;
    color: black;
    border-radius: 50px;
    font-size: 25px;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.pai > div:hover{
    height: 100px;
}

.texto{
    color: white;
    font-size: 20px;
}